@model PairingTest.Web.Models.QuestionnaireViewModel

<html>
    <head>
        <title>@Model.QuestionnaireTitle</title>
    </head>
<body>
    <ol>
        @foreach (string quesiton in Model.QuestionsText)
        {
            <li>@Html.Raw(quesiton)</li>
        }
        </ol>
    </body>

</html>
